{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Мета-теги -->
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="app, landing, corporate, Creative, Html Template, Template">
    <meta name="author" content="web-themes">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Заголовок страницы -->
    <title>recent comment section</title>

    <!-- Подключение CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="{% static 'app_main/base.css' %}" rel="stylesheet" type="text/css" />
        

    <link href="{% static 'app_main/lightbox.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <!-- Кнопка для открытия модального окна регистрации -->
    <!-- Контейнер для всех элементов -->
    <div class="container">
        <!-- Кнопки -->

        <!-- Заголовок раздела комментариев -->
        <h2>Comments</h2>

        <button class="modal-btn" onclick="openModal('loginModal')">Войти</button>
        <button class="modal-btn" onclick="openModal('signupModal')">Зарегистрироваться</button>

        <!-- Панель сортировки -->
        <div class="sort-container">
            <label for="sortBy">Sort by:</label>
            <select id="sortBy">
                <option value="userName">User Name</option>
                <option value="email">E-mail</option>
                <option value="dateAdded">Date Added</option>
            </select>
            <button id="sortAscBtn">Sort Ascending</button>
            <button id="sortDescBtn">Sort Descending</button>
        </div>

        <!-- Начало первого комментария -->
        <div id="comments-container">
            {% include "app_comments/comments.html" %}
        </div>
        <!-- Конец третьего комментария -->

        <!-- Кнопка для добавления комментария -->
        <button class="add-comment-btn" onclick="document.getElementById('commentModal').style.display='block'">Добавить
            комментарий</button>

    </div>

    <!-- Модальное окно для добавления комментария -->
    {% include "app_comments/add_comment.html" %}

    <!-- Модальное окно для ответа на комментарий -->
    {% include "app_comments/form_reply.html" %}


    <!-- Модалка логина -->
    {% include "app_users/login.html" %}


     <!-- Модалка регистрации -->
    {% include "app_users/registr_form.html" %} 


    {% if not request.user.is_authenticated %}
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        openModal('loginModal');
      });
    </script>
    {% endif %}

    <!-- Подключение JavaScript -->
    <script src="{% static 'app_main/add_comments.js' %}"></script>
    <script src="{% static "app_main/lightbox-plus-jquery.js" %}"></script>
    <script src="{% static 'app_main/auth.js' %}"></script>
    <script src="{% static 'app_main/base.js' %}"></script>
   
</body>

</html>