<div id="replyModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="this.parentElement.parentElement.style.display='none'">&times;</span>
        <h2>Reply to comment</h2>
        <form id="replyForm" action="{% url "comment:reply_comment" %}" method="post" enctype="multipart/form-data">
            {%csrf_token%}
            <textarea rows="4" placeholder="your answer..." name="text"  minlength="2"></textarea>
            <input type="hidden" name="parent_id" id="replyParentId"> 

            <div class="file-upload-wrapper">
                <div id="reply_file_error" class="error-message"></div>

                <label for="replyFileInput" class="custom-file-upload">
                    📎Select file
                </label>
                <input type="file" id="replyFileInput" name="file" accept=".jpg,.jpeg,.png,.gif,.txt">

                <div class="file-info">
                    <span id="reply-file-name" class="file-name">File not selected</span>
                    <a id="remove-reply-file" class="remove-file" style="display:none;">✖</a>
                </div>
            </div>
            <div id="previewContainerReply"></div>
            <button type="submit">Send reply</button>
        </form>
    </div>
</div>
<script>
document.addEventListener('DOMContentLoaded', function () {
    document.querySelectorAll('.reply-btn').forEach(btn => {
        btn.addEventListener('click', function () {
            const parentId = this.getAttribute('data-parent-id');
            const modal = document.getElementById('replyModal');
            modal.style.display = 'block';
            document.getElementById('replyParentId').value = parentId;
        });
    });
});
</script>